<label >Name</label>
<input type="text" name="name" value="<%= author.name %>" placeholder="Enter Name">
<input type="email" name="email" value="<%= author.email%>" placeholder="Enter Email">
<input type="number" name="number" value="<%= author.number %>" placeholder="Enter Your Number">
<input type="text" name="carData" value="<%= author.carData %>" placeholder="Enter Your Car Number">